node_modules
npm-debug.log
*.log
.env
.env.*
.git
.gitignore
Dockerfile
docker-compose.yml
.dockerignore
README*
*.md
public/images/uploads/*
src/**/*.db
src/**/*.db-shm
src/**/*.db-wal
tests
coverage
.idea
.vscode
